@import './../../constants/scss.scss';
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1080;
  background-color: var(--dark-alpha-80);

  .modal-box {
    top: 50%;
    right: 50%;
    background-color: var(--primary-bg);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: absolute;
    transform: translate(50%, -50%);
    .title-modal {
      margin-bottom: 10px;
    }
    .content-modal {
      .sub-text {
        color: var(--text-secondary);
        font-size: 15px;
      }
      margin-bottom: 20px;
    }
    .btn-modal {
      button {
        background-color: var(--yellow) !important;
        color: var(--black) !important;
        padding: 8px 25px;
        outline: none;
        border-radius: 20px;
        border: none;
      }
    }
    .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
