.header-box {
  display: flex;
  padding: 18px 0;
  align-items: center;
  justify-content: space-between;
  .header-left-box {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: left;

    .btn {
      margin-right: 20px;
      .icon {
        font-size: 24px;
      }
    }
  }
  .header-right-box {
    .setting-box {
      display: flex;
      .setting-item {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--alpha-bg);
        border-radius: 100%;
        margin-right: 10px;
        .icon {
          width: 20px;
          font-size: 20px;
          color: var(--setting-icon-text);
          img {
            width: 20px;
          }
        }
      }
    }
  }
}
.ic-back:before {
  content: '\25';
}
.ic-forward:before {
  content: '\22';
}
.ic-20-VIP-2:before {
  content: '\ea73';
}
.ic-upload:before {
  content: '\21';
}
.ic-settings:before {
  content: '\e001';
}
