.video-conatainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 100;
  background: rgb(161, 190, 108);
  background: linear-gradient(
    349deg,
    rgba(161, 190, 108, 1) 24%,
    rgba(133, 135, 72, 1) 54%,
    rgba(172, 160, 62, 1) 77%
  );
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    .right-left {
      display: flex;
      .avarta {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .right-box {
      .btn-close-video {
        border-radius: 100%;
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background-color: hsla(0, 0%, 100%, 0.1);
      }
    }
  }
  .play-video-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 3% 3% 3%;
    .play-video {
      display: flex;
      justify-content: space-between;
      height: 623px;
      overflow: hidden;
      box-sizing: unset;
      .recommend-container {
        background: #80786f93;
        overflow: hidden;
        height: 100%;
        border-radius: 10px;
        .title-header {
          padding: 10px 20px;
        }
        .recommend-box {
          padding: 20px;
          padding-bottom: 30px;
          height: 100%;
          overflow: scroll;
          position: relative;
          .recommend-item {
            display: flex;
            align-items: center;
            .recommend-thumb-video {
              width: 110px;
              margin-right: 5px;
            }
            .info-video {
              flex: 1;
              width: 180px;
              .title,
              .artists {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
  .video-bottom-container {
    background-color: hsla(0, 0%, 100%, 0.05);
    .video-bottom {
      margin-bottom: 20px;
      .video-bottom-box {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;

        .video-bottom-item {
          width: 340px;
        }
      }
    }
  }
}
